body,html{height:100%;padding:0px;margin:0px}
	
body{background:url("../img/fondo.jpg") no-repeat center fixed; background-size: 100% 100%;}

.a{position:absoulute; float:left;}
.b{text-align:center;}
.c{position:absolute;}
.d{position: absolute;}
.a,.b,.c{display:inline-block;width:33.33%;height:100%;}

#botones{
	position:absolute;
	top:20px;
	float:right;
	padding-left:200px;
	display:block;
}		

.play {
	background-image:url("../img/play.png");
	position:relative;
	width:70px;
	height:70px;
	left:20px;
	top:10px;
	float:left;
}

.pausa {
	background-image:url("../img/pausa.png");
	position:relative;
	width:70px;
	height:70px;
	left:40px;
	top:10px;
	float:left;
}

.opciones {
	background-image:url("../img/opciones.png");
	position:relative;
	width:70px;
	height:70px;
	left:70px;
	top:10px;
	float:left;
}

#cpanel li{color:White;position:relative;Font-family:"lucida console";list-style-type:none;}

.nave{
	position:relative;
	background:url("../img/nave.png") no-repeat;
	height:193px;
	width:110px;
	margin:0 auto;
}

#luna{
	position:fixed;
	height:30%;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
}

#base{
	background-image:url("../img/luna.png");
	position:relative;
	}

#ventanaopciones2{
	position:fixed;
	top:20%;
	bottom:10%;
	left:30%;
	right:30%;
	border:1px solid yellow;
	Font-size:30;
	text-align:center;
	font-family:"lucida console";
	color:yellow;
	background-color:black;
}

.reiniciar{
	background-image:url("../img/restart.png");
	position:relative;
	width:70px;
	height:70px;
	float:center;
	margin:0 auto;
	top:50%;
}

#ventanaopciones{display:none;}